p {
    color: blue;
    font-size: 20px;
    
}

h1 {
    color: green;
    font-size: 36px;
    text-align: center;
}

.highlight{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: green;
    opacity: .6;
}

#mainpoint {
    font-size: 24px;
    font-weight: bold;
    background-color: red;
    opacity: .7;
}

p, h1, h2 {
    text-align: center;
}

p.big {
    font-size: 25px;
}
